body{

}

/* Class to move
    logo pic to the center */
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/* Styles Progress Report box */
.project1{
border-style: dashed;
border-radius: 1px black;
width:20%;
position:relative;
left:0%;
display: inline-block;
margin-top: 100px;
margin-right: 60px;
margin-left: 60px;
text-align: center;
}

/* Styles Cope Box */
.project2{
border-style: dashed;
border-radius: 1px black;
width:20%;
margin-bottom: 50px;
position:relative;
display: inline-block;
margin-right: 60px;
text-align: center;
}

/* Styles Demos from Cope Box */
.project3{
border-style: dashed;
border-radius: 1px black;
width:20%;
position:relative;
margin-right: 60px;
display: inline-block;
text-align: center;
}

/* Styles P.M. Vibes Box */
.project4{
border-style: dashed;
border-radius: 1px black;
width:20%;
position:relative;
display: inline-block;
text-align: center;
}

/* Styles all "A" or text elements
    inside each project element */
a{
color: inherit;
text-decoration: inherit;
font-size: 24px;
}

/* Creates shadow behind text
    when hovering */
.project1 a:hover,
.project2 a:hover,
.project3 a:hover,
.project4 a:hover{
  color: #FFD700;
  text-shadow: 1px 1px 1px black;
  text-decoration: inherit;
}

/* Styles Spotify   */
.playlist{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
