
body{
border-style: dashed;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clothes{
border-style: dashed;
text-align: center;
width: 33%;
display: inline-block;
margin-left:250px;
margin-right: 100px;
margin-top: 100px;
}

.clothes img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clothes2{
border-style: dashed;
text-align: center;
height:auto;
width: 33%;
height:33%;
display: inline-block;
}
.clothes3{
border-style: dashed;
text-align: center;
height:auto;
width: 33%;
height:33%;
display: inline-block;
margin-left:250px;
margin-right: 100px;
margin-top: 100px;
}
.clothes4{
  border-style: dashed;
text-align: center;
height:auto;
width: 33%;
height:33%;
display: inline-block;
margin-bottom: 100px;
}
