/* Styles the body */
body{
  background-color: white;
  padding-bottom: 40px;
  margin-top: 50px;
  position: relative;
  z-index:
}

/* Stles the header */
header{
background-color: white;
position: fixed;
left: 0;
right: 0;
top: 5px;
height: 30px;
display: flex;
align-items: center;

text-align: center;
}

/* Class to move logo pic to the center */
.center{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/* Styles the nav bar
  Changed the main nav
  to resize properly when
  window size changes */
.nav{
display: inline-block;
list-style-type: none;
padding: 0%;
margin: 0%;
overflow: hidden;
width: 100%;
height: 10%;
text-align: center;
}

/* Styles the surronding elements
    of the Nav bar */
.nav ul
{
display: inline-block;
list-style-type: none;
padding: 0%;
margin: 10px;
padding-right:10px;
}

/* Styles the list elemts */
.nav li{
display: inline-block;
list-style-type: none;
margin-top:10px;
}

/* Styles the text in the element */
.nav a{
width: 150px;
font-size: 15px;
font-weight:bold;
display: block;
color: #FFD700;
text-align: center;
padding: 10px;
text-decoration: none;
}

/* Creates a showdow behind the text
    when hovering over Nav bar elements */
.nav a:hover {
text-shadow: 1px 1px 2px black;
}

/* Makes site change view depending
    on the size of window
    (Also can be seen as phone optimization)*/
@media only screen and (max-width: 600px) {
  body {
  }
}
