{% extends "layout.html" %}

{% block title %}Videos - The Golden Children{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='Videos.css') }}">
{% endblock %}

{% block content %}
    <section class="videos" aria-label="Video gallery">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RUbmFMaZ7Vg" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8T1jpt7vR0c" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/T60K6clDAh4" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jb1EMIm5sYA" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/APxbjodnrVk" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ep5ADCmhPgc" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/u8877plqA-c" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7SgGcelq2KA" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/T6awnSbGmJI" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-QT0TaBjuzU" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A6vR2KTzyHg" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
    </section>
{% endblock %}
